<!-- Base template of all pages -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{% endblock %}</title>
  {% block script %}{% endblock %}
</head>

<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
    <a class="navbar-brand" href="{{ url_for('home') }}">🤑 Bank Analysis 🤑</a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item navbar-right">
        <a href="{{ url_for('home') }}">Home</a>
      </li>
      <li class="nav-item navbar-right">
        <a href="{{ url_for('newRecordForm') }}">Add New Record</a>
      </li>
      {% block nav_buttons %}{% endblock %}
    </ul>
  </nav>
{% block main %}
{% endblock %}
</body>
</html>