<!-- Page showing all (full) records (include the excluded one) of the selected month  -->
{% extends 'base.html' %}

{% block title %}Details for {{month}}{% endblock %}

{% block script %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='table.js') }}"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['table']});
  
  google.charts.setOnLoadCallback(() => drawTable({{allResult | tojson}}, 'allTable'));
  google.charts.setOnLoadCallback(() => drawTable({{creditResult | tojson}}, 'creditTable'));
  google.charts.setOnLoadCallback(() => drawTable({{debitResult | tojson}}, 'debitTable'));
  
</script>
{% endblock %}

{% block nav_buttons %}
  <li class="nav-item navbar-right">
    <a href="#summary">Summary</a>
  </li>
  <li class="nav-item navbar-right">
    <a href="#all">All</a>
  </li>
  <li class="nav-item navbar-right">
    <a href="#credit">Credit</a>
  </li>
  <li class="nav-item navbar-right">
    <a href="#debit">Debit</a>
  </li>
  <li class="nav-item navbar-right">
    <a href="/breakdown?month={{month}}">Breakdown</a>
  </li>
{% endblock %}

{% block main %}
<div class="text-center" id="entire">
  <!-- Table for summary -->
  {%if summary is defined %}
    <div class="container" id="summary">
      <h1>Summary</h1>
      <table class="table table-striped">
        <tr>
          <th>Total Debit</th>
          <th>Total Credit</th>
          <th>Balance</th>
        </tr>
        <tr>
          {% for item in summary %}
            {% if item is number %}
              <td>{{ "%.2f"|format(item) }}</td>
            {%else%}
              <td>{{ item }}</td>
            {%endif%}
          {% endfor %}
        </tr>
      </table>
    </div>
  {%endif%}
  <div class="container" id="all">
    <h1> All Records</h1>
    <div id="allTable"></div>
  </div>
  <div class="container" id="credit">
    <h1> Credit Records</h1>
    <div id="creditTable"></div>
  </div>
  <div class="container" id="debit">
    <h1> Debit Records</h1>
    <div  id="debitTable"></div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Data</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body" id="modal-body">
          </div>
      </div>
  </div>
</div>
{% endblock %}
  
